a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: black;}     /* mouse over link */
a:active {color: black;}    /* selected link */

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

fieldset  {
    min-height: 100px;
}

legend {
    font-size: 24px;
}

#imageSave input[type="text"] {
    width: 350px;
}

#imageRestore input[type="text"]  {
    width: 30px;
}

input[type="list"] {
    width: 30px;
}

td {
    width: 20%;
    vertical-align: text-top;
    text-align: center;
}

#restoreButton button {
    position: relative;
    vertical-align: bottom;
}

a.pushRight {
    float: right;
}

a.pushLeft {
    float: left;
}

p.smallText {
    font-size: 14px;
}

p.error {
    color: red;
}

code {
    color: black;
    background-color: lightgrey;
}

